<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/personajes"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Detalle del personaje
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="personaje.foto" alt="Foto del personaje">
    <ion-card-content>
      <ion-card-title>{{ personaje.nombre }}</ion-card-title>
      <ion-card-subtitle>{{ personaje.detalle }}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>
</ion-content>
