<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Importancia</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
 <h1>Importancia de Toy Story en mi vida</h1>

 <ion-img src="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2023/02/toy-story-4-2951140.jpg?tf=3840x"></ion-img>
<p> Toy Story nos enseña que la amistad verdadera es capaz de superar cualquier obstáculo. Aunque los personajes toman diferentes caminos en sus vidas, su amor y lealtad los mantienen unidos. Nos inspira a valorar y nutrir nuestras amistades, incluso cuando enfrentamos cambios significativos en nuestras vidas.</p>
</ion-content>
